<div class="container-fluid">
    <hr />
</div>
<div class="container">
    <div class="row">
        <div class="d-flex align-items-left gap-3">
            <a href="privacy.html">Privacy Policy</a>
            <body data-bs-theme="dark">
                <div class="form-check form-switch mx-4">
                    <input class="form-check-input p-2" type="checkbox"
                        role="switch" id="flexSwitchCheckChecked" checked
                        onclick="darkMode()" aria-label="Enable Dark Mode" />
                </div>
            </div>
        </div>
    </div>