{% if session.get('logged_in') %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          {% if not session.get('logged_in') %}
          <a class="nav-link" href="/signup.html">Signup</a>
          {% endif %}
        </li>
        {% if session.get('logged_in') %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/form.html">Create</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Settings
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Two-step verification</a></li>
            <li><a class="dropdown-item" href="#">Delete account</a></li>
            <li><hr class="dropdown-divider" /></li>
                  <form action="/logout" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" class="dropdown-item text-danger">Logout</button>
                </form>
            </li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"></a>
        </li>
      </ul>

      <body data-bs-theme="dark">
        <div class="form-check form-switch mx-4">
          <input
            class="form-check-input p-2"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            checked
            onclick="darkMode()"
          />
        </div>

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endif %}