{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Create Developer Log</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <form action="{{ url_for('form') }}" method="POST" class="box" onsubmit="return validateForm()">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="col-auto">
        <label for="titleInput" class="form-label">Project</label>
        <input name="title" type="text" class="form-control" id="titleInput"
          placeholder="Project Name" required maxlength="64">
      </div>
      <div class="col-auto">
        <label for="bodyText" class="form-label">Log Content</label>
        <textarea class="form-control" name="body" id="bodyText"
          required style="pointer-events: none;"></textarea>
      </div>
      <br />
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Create Log</button>
      </div>
    </form>
  </div>
</div>

<script src="/static/tinymce/js/tinymce/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
    function validateForm() {
        if (!tinymce.get('bodyText')) {
            alert('TinyMCE is not initialized.');
            return false;
        }
        return true;
    }

    document.addEventListener('DOMContentLoaded', function() {
      const prefersDarkMode = document.body.dataset.bsTheme === 'dark';

    tinymce.init({
      selector: '#bodyText',
      license_key: 'gpl',
      height: 400,
      plugins: 'advlist autolink lists link charmap preview anchor',
      toolbar: 'undo redo | formatselect | bold italic | bullist numlist | outdent indent',
      menubar: false,
      skin: prefersDarkMode ? 'oxide-dark' : 'oxide',
      content_css: prefersDarkMode ? 'dark' : 'default',
      setup: function(editor) {
        editor.on('change', function () {
          document.getElementById('bodyText').value = editor.getContent();
        });
      },
    });
    });
</script>
{% endblock %}