{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Create Developer Log</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <form action="/form.html" method="POST" class="box">
      <div class="col-auto">
        <label name="exampleFormControlInput1" class="form-label">Title</label>
        <input name="title" type="text" class="form-control" id="titleInput" placeholder="Log Title" requried>
      </div>
      <div class="col-auto">
        <label for="exampleFormControlTextarea1" class="form-label">Log Content</label>
        <textarea class="form-control" name="body" id="bodyText" rows="5" required></textarea>
      </div>
      <br/>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Create Log</button>
      </div>
      <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
    </form>
  </div>
</div>
{% endblock %}