<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Security-Policy"
    content="base-uri 'self'; default-src 'self'; style-src 'self' 'unsafe-inline' https://cdn.tiny.cloud; script-src 'self' 'unsafe-inline' https://cdn.tiny.cloud; img-src 'self' data: https://sp.tinymce.com; media-src 'self'; font-src 'self' https://fonts.gstatic.com data: https://fonts.googleapis.com; connect-src 'self' https://cdn.tiny.cloud; object-src 'self'; worker-src 'self'; frame-src 'none'; form-action 'self'; manifest-src 'self'" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <title>Developer Log</title>
  <link rel="manifest" href="static/manifest.webmanifest" />
  <link rel="icon" type="image/x-icon" href="static/images/favicon.png" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  {% include "partials/menu.html" %} {% block content %}{% endblock %} {%
  include "partials/footer.html" %}
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/serviceWorker.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/theme.js"></script>
</body>
</html>